/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-top: 34px;
}
.logo {
  padding-top: 22.5px;
  display: block;
}
.nav-link {
  color: #5d5f65;
  font-size: 16px;
  padding: 0.5rem 0.8rem;
}
.todo-al-centro {
  width: 100%;
  height: 615px;
  display: flex;
  align-items: center;
}
.todo-al-centro h1 {
  color: #141720;
  font-weight: bold;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 17px;
}
.todo-al-centro h2 {
  font-size: 25px;
  line-height: 2.4;
}
.dos-secciones {
  background: #141720;
  padding-top: 145px;
  padding-bottom: 241px;
  color: #fff;
  position: relative;
}
.imagen-dos-secciones {
  width: 50%;
  height: 635px;
  background: url(../imagenes/imagen\ 1.png);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}
.parte-tres{
  position: relative;
  height: 618px;
}
.timeline{
  height: 511px;
  width: 261px;
  float: left;
}
#texto-timeline{
  font-family: "Open Sans", sans-serif;
 font-size: 15px;
 color: #5d5f65;
}
#titulo-2{
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  margin-bottom: 54px;
}
.texto{
  height: 314px;
  width: 451px;
  float: right;
margin-top: 142px;
}
.parte-cuatro{
height: 815px;
background: #EFEFEF;
position: relative;
}
.subtitulo{
  margin-top: 143px;
  margin-bottom: 81px;
}
.iconos{
  height: 180px;
  width: 355px;
  margin-bottom: 70px;
  float: left;
}
.iconos-2{
  height: 180px;
  width: 350px;
  float: left;
  margin-left: 35px;
  margin-bottom: 70px;
  position: relative;
}
#icon{
  margin-bottom: 21px;
}
 #title{
  font-family:"Montserrat", sans-serif;
  font-size: 20px;
  color: #141720;
  margin-bottom: 15px;
}
#text{
 font-family: "Open Sans", sans-serif;
 font-size: 15px;
color: #5d5f65;
}
.dos-secciones-2{
  background: #141720;
  padding-top: 145px;
  padding-bottom: 255px;
  color: #fff;
  position: relative;
}
.imagen-dos-secciones-2{
  width: 50%;
  height: 730px;
  background: url(../imagenes/imagen\ 2.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0px;
}
#texto-2{
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
 color: #fff;
 margin-bottom: 40px;
}
#titulo-final{
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  color: #fff;
  margin-bottom: 66px;
}
.parte-final{
  background: #141720;
  padding-top: 145px;
  padding-bottom: 241px;
  color: #fff;
  position: relative;
}
#titulo-contacto{
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
}
.datos{
  background-color: #141720;
  height: 700px;
  width: 50%;
  float: left;
}
#datos-2{
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  margin-bottom: 20px;
}
.mapa{
  height: 700px;
  width: 50%;
  background: url(../imagenes/mapa.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0; 
}














